.top {
    &__container{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    &__title {
        color: var(--text-base, #5D6670);
        text-align: center;
        /* Bold/H3 */
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 125% */
    }

    &__center {
        text-align: center;
    }

    &__link {
        color: var(--yellow-500, #FBAB34);
        text-align: center;
        /* Regular/body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */

        &:hover {
            color: var(--yellow-700);
        }
    }
}

.home-table {
    &__container {
        width: 100%;
        border-collapse:separate; 
        border-spacing: 0 2em;
    }

    &__th {
        color: var(--gray-500, #8C8A97);
        text-align: left;
        /* Regular/label */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */

        padding: 8px 24px;
    }

    &__td {
        color: var(--text-base);
        line-height: 24px; /* 150% */

        padding: 0 24px;
    }

    &__image {
        vertical-align : middle;
        margin-right: 16px;
    }

    &__acronym {
        color: var(--gray-500, #8C8A97);
        /* Regular/body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    &__small {
        color: var(--gray-500, #8C8A97);
        /* Regular/label */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */

        padding: 0 24px;
    }

    &__button {
        background-color: var(--green-500);
        color: white;
        font-size: 14px;
        padding: 8px 26px;
        border-radius: 100px;

        &:hover {
            background-color: var(--green-600);
        }
    }
}


