.top {
    &__container{
        padding-top: 120px;
        padding-bottom: 120px;

        @media (max-width: 1248px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
        @media (max-width: 704px) {
            padding-top: 56px;
            padding-bottom: 56px;
        }
    }

    &__title {
        color: var(--text-base);
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px; /* 125% */

        @media (max-width: 1248px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__center {
        text-align: center;
    }

    &__link {
        color: var(--yellow-500, #FBAB34);
        text-align: center;
        font-size: 16px;
        line-height: 24px; /* 150% */

        &:hover {
            color: var(--yellow-700);
        }
    }
}

.home-table {
    &__container {
        width: 100%;
        border-collapse:separate; 
        border-spacing: 0 2em;

        @media (max-width: 704px) {
            display: none;
        }
    }
    &__mobile {
        display: none;
        padding:  38px 0px;
        @media (max-width: 704px) {
            display: flex;
            justify-content: center;
        }
    }

    &__th {
        color: var(--gray-500);
        text-align: left;
        font-size: 14px;
        line-height: 16px;

        padding: 8px 24px;
    }

    &__td {
        color: var(--text-base);
        line-height: 24px; /* 150% */

        padding: 0 24px;
        @media (max-width: 704px) {
            padding: 0;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__image {
        vertical-align : middle;
        margin-right: 16px;
    }

    &__acronym {
        color: var(--gray-500);
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 704px) {
            padding: 0;
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__small {
        color: var(--gray-500);
        font-size: 14px;
        line-height: 16px;

        padding: 0 24px;
    }

    &__button {
        background-color: var(--green-500);
        color: white;
        font-size: 14px;
        padding: 8px 26px;
        border-radius: 100px;

        &:hover {
            background-color: var(--green-600);
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;

        color: var(--gray-500);
        font-size: 12px;
        line-height: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


