.marquee {
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 20px;
    overflow-x: hidden;

    margin-right: 80px;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}