.dashboard {
    &__card{
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
        margin-bottom: 32px;

        &--mini {
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            @media (max-width: 1248px) {
                flex-grow: 1;
            }
            @media (max-width: 704px) {
                flex-direction: column;
                width: 40%;
            }
        }

        &--full-tablet {
            @media (max-width: 1248px) {
                width: 100%;
                margin-bottom: 0;
            }
            @media (max-width: 704px) {
                flex-direction: row;
            }
        }

        
    }

    &__row {
        display: flex;
        gap: 32px;
        @media (max-width: 1248px) {
            flex-wrap: wrap;
        }
        @media (max-width: 704px) {
            gap: 24px ;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 8px 8px 0px;
        background: var(--yellow-100);

        color: var(--text-base);
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;

        padding: 36px 58px;

        @media (max-width: 1248px) {
            width: 50%;
            font-size: 24px;
            line-height: 32px;
        }
        @media (max-width: 704px) {
            font-size: 16px;
            line-height: 24px;
            padding: 12px;
        }
        
    }

    &__balance {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 24px;

        @media (max-width: 1248px) {
            padding: 16px;
        }
        
        @media (max-width: 704px) {
            padding: 8px 16px;
            img {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__variation {
        padding: 16px 16px 16px;
    }

    &__news {
        padding: 16px 16px 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 16px;

        & + img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__acronym {
        align-items: center;
        display: flex;
        gap: 8px;
        margin: 16px 0 8px;

        color: var(--text-base);
        font-size: 14px;
        line-height: 16px; /* 114.286% */

        @media (max-width: 1248px) {
            img {
                width: 24px;
                height: 24px;
            }
        }
        @media (max-width: 704px) {
            margin: 11px 0 8px;
        }
    }

    &__header {
        padding: 24px;
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid var(--gray-200);
        @media (max-width: 704px) {
            border-top: 1px solid var(--gray-300);
        }
    }
    &__title {
        color: var(--text-base, #5D6670);
        text-align: center;
        /* Bold / H4 */
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */

        display: flex;
        align-items: center;
        gap: 16px;

        @media (max-width: 704px) {
            font-size: 20px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
    &__button {
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        
        border-radius: 32px;
        background: var(--yellow-500, #FBAB34);

        color: #FFF;
        text-align: center;
        /* Regular/label */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        
        &:hover {
            background-color: var(--yellow-600);
        }

        @media (max-width: 704px) {
            padding: 8px 12px;
            span {
                display: none;
            }
        }
    }
}

.empty {
    &__container {
        padding: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        @media (max-width: 1248px) {
            padding: 80px;
        }
        @media (max-width: 704px) {
            padding: 40px;
        }
    }
    &__title {
        color: var(--text-base, #5D6670);
        text-align: center;
        /* Bold/H5 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 160% */

        margin-top: 24px;

        @media (max-width: 704px) {
            margin-top: 16px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__text {
        color: var(--text-base, #5D6670);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        
        @media (max-width: 704px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.wallet-table {
    &__container {
        width: 100%;
        border-collapse:separate; 
        border-spacing: 0 2em;
    }

    &__th {
        color: var(--gray-500, #8C8A97);
        text-align: left;
        /* Regular/label */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */

        padding: 8px 24px;
    }

    &__td {
        color: var(--text-base, #5D6670);
        /* Regular/body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 150% */

        padding: 0 24px;

        &--green {
            color: var(--green-700, #149E55);
        }
        &--red {
            color: var(--red-700, #149E55);
        }
    }

    &__image {
        vertical-align : middle;
        margin-right: 16px;
    }

    &__acronym {
        color: var(--gray-500);
        font-size: 16px;
        line-height: 24px;
    }

    &__small {
        color: var(--gray-500);
        font-size: 14px;
        line-height: 16px; /* 114.286% */

        padding: 0 24px;
    }

    &__button {
        background-color: var(--green-500);
        color: white;
        font-size: 14px;
        padding: 8px 26px;
        border-radius: 100px;

        &:hover {
            background-color: var(--green-600);
        }
    }

    &__down {
        color: var(--yellow-500, #FBAB34);
        /* Regular/small-label */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */
    }
}

.regular {
    &__h4 {
        color: var(--text-base);
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px; /* 133.333% */

        white-space: nowrap;

        @media (max-width: 1248px) {
            font-size: 20px;
        }
        @media (max-width: 704px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__body {
        color: var(--gray-500, #8C8A97);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        &--green {
            color: var(--green-700, #149E55);
        }

        @media (max-width: 1248px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
    &__small {
        color: var(--gray-500, #8C8A97);
        
        /* Regular/small-label */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */

        white-space: nowrap;

        @media (max-width: 1248px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__small-label {
        color: var(--gray-500);
        font-size: 12px;
        line-height: 14px; /* 116.667% */

        white-space: nowrap;

        &--yellow {
            color: var(--yellow-400);
        }

        @media (max-width: 704px) {
            font-size: 12px;
            line-height: 14px;
        }
    }

    &__label {
        color: var(--secondary-400, #ACABB7);
        font-size: 14px;
        line-height: 16px; /* 114.286% */

        @media (max-width: 1248px) {
            font-size: 12px;
            line-height: 14px;
        }
    }
}

.bold{
    &__label {
        color: var(--text-base);

        font-size: 14px;
        font-weight: 700;
        line-height: 16px; /* 114.286% */

        white-space: nowrap;
    }
}

.show__mobile {
    display: none;
    @media (max-width: 704px) {
        display: block;
    }
}

.hide__mobile {
    @media (max-width: 704px) {
        display: none;
    }
}